<sky-page layout="fit">
  <sky-page-header pageTitle="Checkout"></sky-page-header>
  <sky-page-content>
    <div class="content-block">
      <h5>Current configuration</h5>
      <div class="container-row">
        <label>Payment Configuration Id</label>
        <div><code id="payment-config-id"></code></div>
        <label>Public key:</label>
        <div><code id="public-key"></code></div>
      </div>
    </div>
    <div class="content-block">
      <h5>Transaction details</h5>
      <div class="container-row">
        <label for="recurring">Recurring transaction?</label>
        <input type="checkbox" id="recurring" />
      </div>
      <div class="container-row">
        <label for="amount">Amount</label>
        <input type="number" id="amount" value="15.50" />
      </div>
    </div>

    <button
      class="sky-btn sky-btn-default"
      (click)="openCheckout()"
      type="button"
    >
      Donate
    </button>

    <div class="content-block">
      <h5>Results</h5>
      <div class="container-row">
        <div>Transaction token: <code id="transaction-token"></code></div>
      </div>
      <div class="container-row">
        <div>Card token: <code id="card-token"></code></div>
      </div>
      <div class="container-row">
        <div>Authorized amount: <code id="authorized-amount"></code></div>
      </div>
    </div>
  </sky-page-content>
</sky-page>
<main>
  <h3></h3>
</main>
